*,
::before,
::after {
  box-sizing: border-box;
}

body {
  min-width: 220px;
  font-family: Gilroy, sans-serif;
}

.main-container {
  max-width: 1664px;
  margin: 0 auto;
  padding: 0 32px;
}

.main-header {
  min-height: 851px;
  background-image: linear-gradient(39deg, #9796f0 -10.38%, #fbc7d4 107.56%);
}

/* стили меню строки  хедера с логотипом и поисковиком main-header__menu */

.menu {
  display: flex;
  align-items: center;
  min-height: 146px;
  text-align: center;
}

.menu__search-bar {
  width: 490px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 69px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(28 28 28 / 0);
  background-image: url('../images/icons/search.svg');
  background-position: 28px;
  background-repeat: no-repeat;
  border: 4px solid #272525;
  border-radius: 90px;
}

.menu__phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  background: #1fab8a;
  border-radius: 90px;
  box-shadow: 0 3.609px 15.037px 0 rgb(121 129 173 / 0.45);
}

.menu__btn {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: grey;
  cursor: not-allowed;
  background-color: rgb(28 28 28 / 0);
  border: none;
}

.menu__btn--profile {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 0;

  /* Дублируются в menu__btn  */
  background-color: rgb(28 28 28 / 0);
  border: none;
}

.menu__lang {
  display: flex;
}

.menu__btn--active {
  font-weight: 600;
  color: rgb(0 0 0);
}

.menu__burger {
  display: none;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-color: rgb(28 28 28 / 0);
  background-image: url('/images/icons/barsburger.svg');
  background-repeat: no-repeat;
  border: none;
}

/* стили навигации по разделам main-header__nav */

.main-header__nav {
  height: 100px;
  background-color: rgb(250 251 253 / 0.44);
}

.main-header__main-sec {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.active-menu {
  height: 136px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.main-header__nav-list {
  margin: 0;
  padding: 0;
}

.nav-list__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  color: #272525;
}

.nav-list__link:not([href]) {
  position: relative;
  color: #fafbfd;
  background-color: #272525;
  border-radius: 10px;
}

.nav-list__link:not([href])::after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 0;
  display: block;
  width: 100%;
  height: 7px;
  background-color: #000;
  border-radius: 10px;
}

.main-header__sale {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0;
  padding-right: 122px;
  font-family: 'Neutraface Display', sans-serif;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #3c336c;
  background-image: url('/images/icons/shopping-bags1500px.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 117.4px 100px;
}

/* стили главной секции хедера */

.intro__breadcrumbs {
  display: flex;
  font-weight: 400;
  color: #524983;
}

.intro-breadcrumbs__list {
  display: flex;
  margin-bottom: 0;
  padding-top: 34px;
  padding-left: 0;
  font-size: 14px;
  list-style: none;
}

.intro-breadcrumbs__item {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #524983;
}

.current-crumb {
  color: #7981ad;
}

.intro-breadcrumbs__item > a {
  text-decoration: none;
}

.intro__title {
  max-width: 638px;
  margin: 0;
  padding-top: 20px;
  font-size: 48px;
  line-height: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.intro__sub-title {
  max-width: 638px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.17px;
  color: #454747;
}

.intro__btn-donebox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  padding: 18px 40px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #fafbfd;
  background-color: #3c336c;
  border-radius: 60px;
  gap: 10px;
}

.intro__createbox {
  padding: 0;
  padding-left: 40px;
  font-family: Gilroy, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: var(--soft-active, #524983);
}

.intro-content__image1 {
  position: absolute;
  top: 196px;
  right: 425px;
  display: none;
  width: 648.689px;
  height: 648.689px;
  margin: 0;
  padding: 0;
}

.intro-content__image2 {
  position: absolute;
  top: 328px;
  right: -39px;
  display: none;
  width: 626.566px;
  height: 500.92px;
  margin: 0;
  padding: 0;
}

/* до 1500px экран */

@media (width <= 1500px) {
  .main-container {
    max-width: 1100px;
  }

  .main-header {
    min-height: 809px;
    background: linear-gradient(39deg, #9796f0 -10.38%, #fbc7d4 107.56%);
  }

  .menu {
    min-height: 103px;
  }

  .menu__search-bar {
    width: 338px;
    height: 37px;
    margin-right: 37px;
    margin-left: 37px;
    padding-left: 41.5px;
    font-size: 14px;
    font-weight: 500;
    background-image: url('../images/icons/search1000px.svg');
    background-position: 16px;
    border: 2.4px solid #272525;
    border-radius: 54px;
  }

  .menu__phone-number {
    width: 200px;
    height: 36px;
    margin-right: 20px;
    font-size: 14px;
    text-decoration: none;
    color: aliceblue;
    background: #1fab8a;
    border-radius: 54px;
  }

  .menu__btn--profile {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    margin-left: auto;
  }

  .menu__btn {
    font-size: 12px;
    font-weight: 400;
  }

  .nav-list__link {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
  }

  .main-header__sale {
    justify-content: start;
    width: 320px;
    font-size: 24px;
  }

  .intro__breadcrumbs {
    display: none;
  }

  .intro__title {
    width: 510px;
    margin-top: 0;
    padding-top: 50px;
  }

  .intro__sub-title {
    width: 543px;
    font-size: 16px;
  }

  .intro__btn-donebox {
    margin-top: 34px;
  }

  .intro__createbox {
    padding-left: 30px;
  }

  .intro-content__image1 {
    position: absolute;
    top: 150px;
    right: 400px;
    width: 418.594px;
    height: 418.594px;
  }

  .intro-content__image2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 404.318px;
    height: 323.24px;
  }
}

/* до 1000px экран */

@media (width <= 1000px) {
  .main-header {
    min-height: 577px;
  }

  .main-header__menu {
    min-height: 80px;
    background-color: rgb(250 251 253 / 0.44);
  }

  .menu__search-bar,
  .menu__btn--profile,
  .menu__lang {
    display: none;
  }

  .menu__burger {
    display: flex;
  }

  .menu__logo img {
    float: left;
    width: 229px;
    height: 18.3px;
  }

  .menu__phone-number {
    margin-right: 30px;
    margin-left: auto;
    box-shadow: 0 3.609px 15.037px 0 rgb(121 129 173 / 0.45);
  }

  .main-header__nav {
    display: none;
  }

  .intro__title {
    width: 472px;
    margin-top: 48px;
    padding-top: 0;
    font-size: 36px;
  }

  .intro__sub-title {
    width: 389px;
    margin-top: 20px;
    font-size: 16px;
  }

  .intro__btn-donebox {
    margin-top: 39px;
    font-size: 16px;
  }

  .intro__createbox {
    font-size: 16px;
  }
}

/* до 786px экран */

@media (width <= 786px) {
  .main-header {
    height: 526px;
  }

  .menu__phone-number {
    display: none;
  }

  .menu__logo img {
    width: 210px;
    height: 17px;
  }

  .menu__burger {
    margin-left: auto;
  }

  .intro__title {
    width: 434px;
    margin-top: 35px;
  }

  .intro__sub-title {
    width: 320px;
  }

  .intro__btn-donebox {
    display: flex;
    margin-top: 30px;
    padding: 15px 32px;
    font-size: 12px;
  }

  .intro__createbox {
    display: inline-block;
    justify-content: center;
    margin-top: 10px;
    padding-left: 55px;
    font-size: 14px;
    text-align: center;
  }
}

/* до 480px экран */

@media (width <= 480px) {
  html {
    min-width: 320px;
  }

  .main-header {
    height: 681px;
  }

  .main-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu {
    min-height: 50px;
  }

  .menu__logo img {
    width: 130px;
    height: 10px;
  }

  .menu__burger {
    width: 24px;
    height: 24px;
    background-image: url('/images/icons/bars480px.svg');
  }

  .intro__title {
    width: auto;
    margin-top: 33px;
    font-size: 28px;
    text-align: center;
  }

  .intro__sub-title {
    width: auto;
    margin-top: 14px;
    font-size: 15px;
    text-align: center;
  }

  .intro__btn-donebox {
    justify-content: space-between;
    margin-top: 343px;
    margin-right: auto;
    margin-left: auto;
  }

  .intro__createbox {
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
  }
}
