*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Gilroy, sans-serif;
}

.main-container {
  max-width: 1664px;
  margin: 0 auto;
  padding: 0 32px;
}

.main-header {
  position: relative;
  min-height: 851px;
  overflow-x: hidden;
  background-image: linear-gradient(39deg, #9796f0 -10.38%, #fbc7d4 107.56%);
}

/* стили меню строки  хедера с логотипом и поисковиком main-header__menu */

.menu {
  display: flex;
  align-items: center;
  min-height: 146px;
}

.menu__search-bar {
  width: 490px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 69px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(28 28 28 / 0);
  background-image: url('../images/icons/search.svg');
  background-position: 28px;
  background-repeat: no-repeat;
  border: 4px solid #272525;
  border-radius: 90px;
}

.menu__phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  background: #1fab8a;
  border-radius: 90px;
  box-shadow: 0 3.609px 15.037px 0 rgb(121 129 173 / 0.45);
}

.menu__btn {
  padding: 0;
  font-size: 18px;
  color: grey;
  cursor: not-allowed;
  background-color: rgb(28 28 28 / 0);
  border: none;
}

.menu__btn--profile {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.menu__lang {
  display: flex;
}

.menu__btn--active {
  font-weight: 600;
  color: rgb(0 0 0);
}

.menu__burger {
  display: none;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-color: rgb(28 28 28 / 0);
  background-image: url('/images/icons/barsburger.svg');
  background-repeat: no-repeat;
  border: none;
}

/* стили навигации по разделам main-header__nav */

.main-header__string {
  background-color: rgb(250 251 253 / 0.44);
}

.string__content {
  display: flex;
  justify-content: space-between;
}

.main-header__nav {
  display: flex;
}

.active-menu {
  height: 136px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.main-header__nav-list {
  margin: 0;
  padding: 0;
}

.nav-list__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  color: #272525;
}

.nav-list__link:not([href]) {
  position: relative;
  color: #fafbfd;
  background-color: #272525;
  border-radius: 10px;
}

.nav-list__link:not([href])::after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 0;
  display: block;
  width: 100%;
  height: 7px;
  background-color: #000;
  border-radius: 10px;
}

.main-header__sale {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0;
  padding-right: 164px;
  font-family: 'Neutraface Display', sans-serif;
  font-size: 38px;
  color: #3c336c;
  background-image: url('/images/icons/shopping-bags1500px.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 117.4px 100px;
}

/* стили контентной секции хедера */

.intro {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.breadcrumbs__list {
  display: flex;
  margin-top: 17px;
  margin-bottom: 0;
  padding-top: 34px;
  padding-left: 0;
  list-style: none;
}

.breadcrumbs__link,
.breadcrumbs__link a {
  margin-right: 5px;
  font-size: 14px;
  text-decoration: none;
  color: #5c5b5f;
}

.breadcrumbs__link:not(:last-child)::after {
  content: '/';
}

.breadcrumbs__link--active a {
  color: #3c336c;
}

.intro__title {
  max-width: 638px;
  margin: 0;
  margin-top: 20px;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}

.intro__sub-title {
  max-width: 638px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 18px;
  letter-spacing: 1.17px;
  color: #454747;
}

.intro__btn-donebox {
  margin-top: 42px;
  padding: 18px 40px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #fafbfd;
  cursor: pointer;
  background-color: #3c336c;
  border: none;
  border-radius: 60px;
}

.intro__createbox {
  margin-left: 40px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #524983;
}

.intro-content__image1 {
  position: absolute;
  right: 250px;
  bottom: 0;
}

.intro-content__image2 {
  position: absolute;
  right: -39px;
  bottom: 0;
}

.intro__wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* стили main-части страницы */

/* стили карточек товаров */

.cards__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.cards__item {
  width: calc(25% - 22.5px);
  border-radius: 15px;
  box-shadow:
    0 8.028px 8.028px -4.014px rgb(26 32 44 / 0.04),
    0 16.057px 22px -8px rgb(82 73 131 / 0.1);
}

.cards__main-img {
  width: 100%;
  border-radius: 15px;
  aspect-ratio: 1;
}

.cards__info {
  padding: 13px 14px 9px 16px;
  font-size: 0;
}

.cards__name {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.cards__overview {
  margin: 0;
  padding-top: 12px;
  font-size: 12px;
}

.cards__color {
  display: flex;
  padding: 0;
  padding-top: 15px;
}

.cards__color li {
  margin-right: 4.5px;
}

.cards__color button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  border-radius: 100%;
}

.violet {
  background-color: #3c336c;
}

.green {
  background-color: green;
}

.white {
  background-color: #f1f1f1;
}

.cards__purchase {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}

.cards__price {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #c4c4c4;
}

.cards__buy {
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-image: url('/images/icons/shopping-basket.svg');
  background-repeat: no-repeat;
  border: none;
}

/* стили преимуществ */

.main__advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  list-style: none;
}

.advantages__section {
  width: calc(33.33% - 20px);
}

.advantages__title {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
}

.advantages__text {
  margin: 0;
  margin-top: 20px;
  color: #454747;
}

.advantages__text--purple {
  color: #524983;
}

/* стили блока с формой */

.main__form-block {
  min-height: 620px;
  margin-top: 50px;
  background-image: url('/images/backgrounds/Rectangledesctop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.form-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 78px;
}

.form-block__contact-us {
  display: flex;
  flex-direction: column;
}

.form-block__title {
  margin: 0 auto;
}

.form-block__subtitle {
  margin: 0;
  margin-top: 9.7px;
  font-size: 48px;
}

.form-block__text {
  width: 592px;
  margin: 0;
  margin-top: 23px;
  font-size: 18px;
  letter-spacing: 1.17px;
  color: #454747;
}

.form {
  display: flex;
  margin-top: 36px;
}

.form__text,
.form__data {
  margin-top: 0;
  margin-right: auto;
}

.form__text {
  max-width: 300px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
}

.form__text--green {
  color: #1fab8a;
}

.form__data {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 336px;
  margin-bottom: 34px;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.form__btn {
  height: 60px;
  max-width: 336px;
  margin-top: 4px;
  font-weight: 500;
  color: #fafbfd;
  cursor: pointer;
  background: #1fab8a;
  border-style: none;
  border-radius: 60px;
}

.form-block__img {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 50px;
}

/* стили футера */

.footer {
  margin-top: 137px;
  background: url('/images/backgrounds/footer-desctop.png');
  background-position: center;
  background-size: 100% 100%;
}

.footer__main-container {
  display: flex;
  padding-top: 115px;
}

.footer__contact {
  margin-top: 9px;
}

.footer__contact-text {
  width: 439px;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 1.17px;
  color: #454747;
}

.footer__social {
  margin-top: 40px;
}

.footer__social-contacts {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__contact-tel {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #272525;
}

.footer__contact-mail {
  color: #272525;
  text-decoration-line: underline;
}

.footer__contact-list {
  display: flex;
  margin-top: 26px;
  margin-bottom: 0;
  padding-left: 0;
}

.footer__contact-item {
  display: flex;
  align-items: center;
  margin-right: 22px;
}

.footer__contact-link {
  width: 32px;
  height: 32px;
  font-size: 0;
  background: no-repeat center;
}

.footer__item--inst {
  background-image: url('/images/icons/Instagram-ico.svg');
}

.footer__item--facebook {
  background-image: url('/images/icons/Facebook-ico.svg');
}

.footer__item--linkdn {
  background-image: url('/images/icons/LinkedIn-ico.svg');
}

.footer__title-nav {
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
}

.footer__list-nav {
  margin: 0;
  padding-left: 0;
  font-size: 18px;
  line-height: 52px;
  list-style: none;
}

.footer__link-nav {
  text-decoration: none;
  color: #454747;
}

.footer__categories {
  margin-right: 135px;
  margin-left: auto;
}

.footer__info {
  margin-right: auto;
}

.footer__manager {
  width: 280px;
  min-width: 280px;
}

.footer__manager-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: #8f90a6;
}

.footer__manager-tel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 54px;
  margin-top: 22.5px;
}

.footer__manager-input {
  width: calc(100% - 46px);
  height: 100%;
  padding-left: 15px;
  font-size: 14px;
  line-height: 23px;
  vertical-align: middle;
  color: #272525;
  border: #000 2px solid;
  border-right: none;
  border-radius: 13px 0 0 13px;
  outline: none;
}

.footer__manager-send {
  display: flex;
  width: 44px;
  height: 100%;
  padding: 0;
  cursor: pointer;
  background:
    url('/images/icons/icon_telsend.svg') no-repeat 10px 50%,
    url('/images/icons/Ellipse.svg') no-repeat 0 50%;
  background-color: white;
  border: #000 2px solid;
  border-left: none;
  border-radius: 0 13px 13px 0;
}

.footer__politic {
  display: flex;
  justify-content: center;
  margin-top: 43px;
  padding-bottom: 40px;
  font-size: 13px;
  color: #9fa3b2;
}

.footer__politic-text {
  margin: 0;
}

.footer__politic-link {
  margin-left: 5px;
  color: #9fa3b2;
}

/* меньше 1500px экран */

@media (width < 1500px) {
  .main-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-header {
    min-height: 809px;
    background: linear-gradient(39deg, #9796f0 -10.38%, #fbc7d4 107.56%);
  }

  .menu {
    min-height: 103px;
  }

  .menu__search-bar {
    width: 338px;
    height: 37px;
    padding-left: 41.5px;
    font-size: 14px;
    background-image: url('../images/icons/search1000px.svg');
    background-position: 16px;
    border: 2.4px solid #272525;
  }

  .menu__phone-number {
    width: 200px;
    height: 36px;
    font-size: 14px;
  }

  .menu__btn--profile {
    margin-right: 20px;
  }

  .menu__btn--profile img {
    width: 24px;
    height: 24px;
  }

  .menu__btn {
    font-size: 12px;
    font-weight: 400;
  }

  .nav-list__link {
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-header__sale {
    font-size: 24px;
  }

  .intro__breadcrumbs {
    display: none;
  }

  .intro__title {
    width: 510px;
    margin-top: 50px;
  }

  .intro__sub-title {
    width: 543px;
    font-size: 16px;
  }

  .intro__btn-donebox {
    margin-top: 34px;
  }

  .intro__createbox {
    margin-left: 30px;
  }

  .intro-content__image1 {
    right: 50px;
    width: 550px;
    height: 550px;
  }

  .intro-content__image2 {
    right: -100px;
    width: 530px;
    height: 400px;
  }

  .cards__list {
    margin-top: 21.5px;
  }

  .cards__item {
    width: calc(33.33% - 16px);
  }

  .cards__item:last-child {
    display: none;
  }

  .cards__info {
    padding-top: 12px;
    padding-left: 13px;
  }

  .cards__name {
    font-size: 19px;
  }

  .cards__overview {
    padding-top: 10px;
    font-size: 10px;
  }

  .cards__color {
    padding-top: 13px;
  }

  .cards__color li {
    margin-right: 3.6px;
  }

  .cards__color button {
    width: 19px;
    height: 19px;
  }

  .cards__purchase {
    padding-top: 36px;
  }

  .cards__price {
    font-size: 19px;
  }

  .cards__buy {
    width: 44px;
    height: 44px;
    background-size: 45px;
  }

  .advantages {
    flex-wrap: wrap;
  }

  .advantages__section:last-child {
    margin-bottom: 0;
  }

  .advantages__section {
    width: calc(50% - 14px);
    margin-bottom: 35px;
  }

  .main__form-block {
    margin-top: 70px;
    background-size: 200% 100%;
  }

  .form-block {
    padding-top: 77px;
  }

  .form-block__contact-us {
    width: 60%;
  }

  .form-block__subtitle {
    margin-top: 21.7px;
  }

  .form {
    margin-top: 60px;
  }

  .form__text {
    min-width: 300px;
    margin-right: 90px;
  }

  .form-block__img {
    top: -79px;
    height: 502px;
    padding-top: 0;
  }

  .footer {
    margin-top: 98px;
  }

  .footer__main-container {
    flex-wrap: wrap;
  }

  .footer__manager {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 55px;
  }

  .footer__manager-text {
    width: 351px;
    margin-right: 28px;
    margin-left: 64px;
  }

  .footer__manager-tel {
    width: 277px;
    margin-top: 0;
  }

  .footer__politic {
    margin-top: 37px;
    padding-bottom: 33px;
  }
}

/* меньше 1000px экран */

@media (width < 1000px) {
  .main-header {
    min-height: 577px;
  }

  .main-header__menu {
    min-height: 80px;
    background-color: rgb(250 251 253 / 0.44);
  }

  .menu__search-bar,
  .menu__btn--profile,
  .menu__lang,
  .string {
    display: none;
  }

  .menu__burger {
    display: flex;
  }

  .menu__logo img {
    height: 18.3px;
  }

  .menu__phone-number {
    margin-right: 30px;
    margin-left: auto;
  }

  .intro__title {
    width: 472px;
    margin-top: 48px;
    font-size: 36px;
  }

  .intro__sub-title {
    width: 389px;
    margin-top: 20px;
  }

  .intro__btn-donebox {
    margin-top: 39px;
    font-size: 16px;
  }

  .intro__createbox {
    font-size: 16px;
  }

  .intro-content__image1 {
    right: -150px;
  }

  .intro-content__image2 {
    right: -20px;
    height: 300px;
  }

  .cards__list {
    margin-top: 16px;
  }

  .cards__item {
    width: calc(50% - 14px);
    margin-bottom: 25px;
  }

  .cards__item:last-child {
    display: block;
  }

  .cards__info {
    padding-top: 14px;
    padding-left: 15px;
  }

  .cards__name {
    font-size: 22px;
  }

  .cards__overview {
    padding-top: 11px;
    font-size: 11px;
  }

  .cards__color {
    padding-top: 14px;
  }

  .cards__color li {
    margin-right: 4px;
  }

  .cards__color button {
    width: 22px;
    height: 22px;
  }

  .cards__purchase {
    padding-top: 41px;
  }

  .cards__buy {
    width: 50px;
    height: 50px;
    background-size: 50.5px;
  }

  .main__form-block {
    min-height: 647px;
    margin-top: 60px;
  }

  .form-block__contact-us {
    width: 100%;
  }

  .form-block__subtitle {
    width: 70%;
  }

  .form-block__img {
    top: 100px;
  }

  .footer__main-container {
    padding-top: 88px;
  }

  .footer__contact {
    display: flex;
    width: 100%;
    margin-top: 0;
  }

  .footer-logo {
    margin-right: auto;
  }

  .footer__contact-text {
    width: 360px;
    margin-top: 9px;
    font-size: 16px;
  }

  .footer__social {
    margin-top: 0;
    margin-right: auto;
    font-size: 18px;
  }

  .footer__contact-list {
    margin-top: 28px;
  }

  .footer__categories,
  .footer__info,
  .footer__manager {
    margin-top: 30px;
  }

  .footer__categories {
    margin-right: 0;
    margin-left: 0;
  }

  .footer__info {
    margin-left: auto;
  }

  .footer__manager {
    display: block;
    max-width: 351px;
  }

  .footer__manager-text {
    margin-left: 0;
  }

  .footer__manager-tel {
    margin-top: 20px;
  }

  .footer__politic {
    margin-top: 30px;
    padding-bottom: 15px;
  }
}

/* меньше 768px экран */

@media (width < 768px) {
  .menu__phone-number {
    display: none;
  }

  .menu__logo img {
    height: 17px;
  }

  .menu__burger {
    margin-left: auto;
  }

  .intro__title {
    margin-top: 35px;
  }

  .intro__sub-title {
    width: 320px;
  }

  .intro__btns {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  .intro__btn-donebox {
    margin-top: 30px;
    padding: 15px 32px;
    font-size: 12px;
  }

  .intro__createbox {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }

  .intro-content__image1 {
    right: -215px;
    height: 400px;
  }

  .intro-content__image2 {
    right: -50px;
    height: 250px;
  }

  .cards__subtitle {
    font-size: 28px;
  }

  .cards__item {
    width: calc(50% - 8px);
    margin-bottom: 15px;
  }

  .cards__info {
    padding: 8.5px 7.8px 5px 9px;
  }

  .cards__name {
    font-size: 13.4px;
  }

  .cards__overview {
    padding-top: 7px;
    font-size: 7px;
  }

  .cards__color {
    padding-top: 9px;
  }

  .cards__color li {
    margin-right: 2.5px;
  }

  .cards__color button {
    width: 13.5px;
    height: 13.5px;
  }

  .cards__purchase {
    margin-top: 25px;
    padding-top: 0;
  }

  .cards__price {
    width: 106px;
    font-size: 13.5px;
  }

  .cards__buy {
    width: 31px;
    height: 31px;
    background-size: 31.5px;
  }

  .advantages {
    margin-top: 40px;
  }

  .advantages__section {
    width: 100%;
  }

  .advantages__text {
    margin-top: 15px;
  }

  .main__form-block {
    margin-top: 70px;
    background: none;
  }

  .form-block {
    flex-direction: column;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .form-block__contact-us {
    padding-left: 20px;
  }

  .form-block__subtitle {
    width: 100%;
    font-size: 28px;
    line-height: 110.9%;
  }

  .form-block__text {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1.04px;
  }

  .form {
    flex-direction: column;
    margin-top: 51px;
  }

  .form__text {
    max-width: 100%;
    min-width: 395px;
    margin-right: 0;
    padding-right: 65px;
  }

  .form__data {
    margin-top: 51px;
  }

  .form-block__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 69px;
    background-image: url('/images/backgrounds/Rectangle768px.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .form-block__img {
    position: static;
    height: auto;
    padding-top: 33px;
  }

  .footer__contact {
    position: relative;
  }

  .footer__social {
    position: absolute;
    top: 379px;
    display: flex;
    width: 100%;
  }

  .footer__categories {
    width: 50%;
    margin-right: auto;
  }

  .footer__info {
    width: 50%;
  }

  .footer__contact-list {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__contact-item {
    margin-right: 30px;
  }

  .footer__contact-link {
    background-size: 100%;
  }

  .footer__manager {
    width: 100%;
    margin-top: 106px;
  }

  .footer__politic {
    margin-top: 23px;
    padding-bottom: 83px;
  }
}

/* меньше 480px экран */

@media (width < 480px) {
  .main-header {
    min-height: 681px;
  }

  .menu {
    min-height: 50px;
  }

  .menu__logo img {
    height: 10px;
  }

  .menu__burger {
    width: 24px;
    height: 24px;
    background-size: 100%;
  }

  .intro__title {
    width: auto;
    margin-top: 33px;
    font-size: 28px;
    text-align: center;
  }

  .intro__sub-title {
    width: 281px;
    margin-top: 14px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    text-align: center;
  }

  .intro__btns {
    align-self: center;
  }

  .intro__btn-donebox {
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
  }

  .intro__createbox {
    display: block;
  }

  .intro-content__image1 {
    right: -150px;
    bottom: 100px;
    height: 350px;
  }

  .intro-content__image2 {
    right: -20px;
    bottom: 100px;
    height: 200px;
  }

  .intro__wave {
    left: -250px;
    width: 1500px;
    transform: scaleX(-1);
  }

  .cards__subtitle {
    text-align: center;
  }

  .cards__list {
    margin-top: 10px;
  }

  .cards__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .cards__info {
    padding: 11.1px 10.3px 6px 17.8px;
  }

  .cards__name {
    font-size: 17.8px;
  }

  .cards__overview {
    padding-top: 8.9px;
    font-size: 8.9px;
  }

  .cards__color {
    padding-top: 12.4px;
  }

  .cards__color li {
    margin-right: 3.4px;
  }

  .cards__color button {
    width: 17.8px;
    height: 17.8px;
  }

  .cards__purchase {
    margin-top: 32.6px;
  }

  .cards__price {
    font-size: 17.8px;
  }

  .cards__buy {
    width: 47px;
    height: 47px;
    background-size: 47.5px;
  }

  .advantages__title {
    font-size: 30px;
  }

  .main__form-block {
    margin-top: 80px;
  }

  .form-block__contact-us {
    align-items: center;
    padding-right: 20px;
  }

  .form-block__title {
    width: 156px;
    height: 45px;
  }

  .form-block__subtitle {
    margin-top: 16px;
    font-size: 24px;
    text-align: center;
  }

  .form-block__text {
    font-size: 15px;
    text-align: center;
  }

  .form {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .form__text {
    min-width: 278px;
    padding-right: 0;
    font-size: 20px;
    text-align: center;
  }

  .form__data {
    max-width: 280px;
    margin-top: 40px;
    margin-left: auto;
  }

  .form__input {
    max-width: 100%;
  }

  .form__btn {
    max-width: 100%;
  }

  .form-block__picture {
    margin-top: 40px;
  }

  .form-block__img img {
    right: 0;
    width: 100%;
  }

  .footer__main-container {
    padding-top: 92px;
  }

  .footer-logo {
    margin-left: auto;
  }

  .footer__contact-text {
    max-width: 281px;
    margin-top: 11px;
    font-size: 12px;
    letter-spacing: 0.78px;
    text-align: center;
  }

  .footer__social {
    top: 372px;
    flex-direction: column;
  }

  .footer__social-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__contact-list {
    width: 171px;
    margin-top: 41px;
  }

  .footer__contact-item {
    margin-right: auto;
    margin-left: auto;
  }

  .footer__categories {
    width: auto;
    margin-right: auto;
  }

  .footer__info {
    width: auto;
  }

  .footer__manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 193px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__manager-text {
    max-width: 249px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    text-align: center;
  }

  .footer__manager-tel {
    margin-top: 8px;
  }

  .footer__politic {
    flex-direction: column;
    align-items: center;
    margin-top: 33px;
    padding-bottom: 23px;
  }

  .footer__politic-link {
    margin-top: 3px;
    margin-left: 0;
  }
}
